@charset "UTF-8";
/* Define o conjunto de caracteres para o arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); /* Importa a fonte Roboto Condensed do Google Fonts */

/* Garante que o fundo cubra toda a página */
html, body {
    height: 100%; /* Define 100% de altura para a página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    background-color: #B090F5; /* Cor de fundo que se estende por toda a página */
    font-family: 'Roboto Condensed', sans-serif; /* Define a fonte padrão do corpo como Roboto Condensed */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #C7C8F5;
    z-index: 100;
    padding: 10px;
}

/* Estilo padrão para todos os elementos dentro da navbar */
.navbar * {
    transition: all .3s;
}

.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-nav {
    display: flex;
    gap: 50px;
    font-size: 1rem;
}

.navbar-brand {
    width: 100px;
    height: 100px;
    border-radius: 90%;
    overflow: auto;
    background-size: cover;
}

.nav-link {
    transition: all .6s;
}

/* Estilos do banner */
/* Cabeçalho da página - Removendo o fundo */
.img {
    width: 100%;
    height: 100vh;
    padding: 100px;
    max-width: 100%;
    height: auto;
    background-image: transparent; /* Troquei a cor de fundo por transparente */
}

.img > .img-cabecalho {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: initial;
    background-attachment: scroll;
    background-position: bottom;
    background-image: transparent; /* Também ajustei o fundo da imagem aqui */
}


@media (max-width: 767px) {
    .img-cabecalho {
        padding: 10px;
    }

    .img > .img-cabecalho {
        background-attachment: unset;
    }
}

/* Elementos de rolagem */
.scroll-downs {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 10px);
    cursor: pointer;
}

.mousey {
    width: 2px;
    padding: 1px 9px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
    position: relative;
}

.scroller {
    position: absolute;
    top: 6px;
    width: 2px;
    height: 6px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(7px); opacity: 0; }
}

/* Galeria */
.gallery {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}

.content-gallery {
    flex: 1 1 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-gallery .item {
    min-width: 300px;
    max-width: 100%;
    cursor: pointer;
    transition: all 1s;
    filter: grayscale(100%);
}

.content-gallery .item:is(:hover, .active) {
    filter: none;
}

/* Rodapé */
footer {
    padding: 50px 0;
    text-align: center;
}

.navbar-brand {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
}

.img {
    width: 50%;
    height: 50vh;
    padding: 50px;
    max-width: 50%;
    height: auto;
    background-color: #C7C8F5;
}
